body{
	box-sizing: border-box;
	font-family:Verdana, sans-serif;
	font-size:15px;
	font-weight:300;
	color:#000000;
	background-color:#FFFFFF;
	margin: 25px 50px;
}
header{
	padding:30px;
	background:#E3F7FF;
	text-align:center;
	color:#008080;
}
ul{
  margin: 0;
  padding: 0;
}

th{
	background:#F394DC;
	color:#F5F5F1
}
header h1{
	font-size:50px;
	font-style:oblique;
	font-weight:800;
	font-variant:small-caps;
	color:#008080;
	background:#E3F7FF;
}

td,th{
	border:1px solid;
	padding:12px;
	border-color:#B0138A;
}

h2,h3,h4{
	color:#48D1CC;
	background-color:#FFFFFF;
}

button{
	width:140px;
	height:35px;
	color:#008080;
	background-color:#E3F7FF;
}
input{
	width:270px;
	height:30px;
	color:#008080;
	background-color:#E3F7FF;
	text-align:center;
}